*,
*::before,
*::after {
    box-sizing: border-box;
    }

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--main-color);
    background-color: var(--white);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    }

:root {
    --active-color: #2196F3;
    --white: #FFFFFF;
    --beige: #757575;
    --main-color: #212121;
    }

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    }

h1, h2, h3, h4, p, ul {
    padding: 0; 
    margin: 0;
    }

ul {
    list-style-type: none;
    }

/* Menu */

.top {
    border-bottom: 1px solid #ECECEC;
    }

header .container {
    align-items: center; 
    justify-content: space-between;
    height: 80px;
    }

nav {
    display: flex;
    align-items: center;
    }

.menu ul {
    display: flex;
    align-items: center;
    }

.logo .logo-link {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;
    margin-right: 93px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    }

.web-logo {
    color: var(--active-color);
    }

.menu-link-current {
    color: var(--active-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    }

    /* czy to podkreślenie ma być cały czas czy tylko po najechaniu myszką? */
.active::after {
    content: "";
    width: 100%;
    height: 4px;
    top: 28px;
    background-color: var(--active-color);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    display: block;
    }

.menu .menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em; 
    color: var(--main-color);
    }

.menu-link {
    text-decoration: none;
    }

.menu-link:hover,
.menu-link:focus {
    color: var(--active-color);
    }

.menu-link:active {
    color: var(--active-color);
    }

.menu-link-current:hover,
.menu-link-current:focus {
    color: var(--active-color);
    }

.menu-link-current:active {
    color: var(--active-color);
    }

.menu .menu-list > li:not(:last-child) {
    margin-right: 46px;
    }

.contact {
    display: flex;
    }

.contact .contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    display: flex;
    }

.contact p:not(:last-child) {
    margin-right: 50px;
    }

.contact-link {
    color: var(--beige);
    }

.contact-link:hover,
.contact-link:focus {
    color: var(--active-color);
    }

.contact-link:active {
    color: var(--active-color);
    }

.contact-icon {
    width: 16px;
	height: 16px;
    margin-right: 10px;
    fill: currentColor;
    }

/* Header */

.text {
    background-color: #2F303A;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%),
        url(../images/back-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    }

.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    }

.text .container {
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    }

.text-title {
    font-weight: 900;
    color: var(--white);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    height: 120px;
    }

.button-active {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    background-color:var(--active-color);
    padding: 10px 41px 10px 42px;
    border-radius: 4px;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    }

/* Sekcja 1 - Lorem*/

.asset-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 0;
    width: 1170px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    }

.asset-element {
    flex-basis: calc((100% - 90px) / 4);
    }

.asset-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    }

.asset-description {
    color: var(--beige);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    }

.asset-logo {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    }

/* Sekcja 2 - czym się zajmujemy/Img*/

.scope {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

.no-padding {
    padding-top: 0px;
    }

.scope-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    }

.scope-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 94px;
    }

.scope-list > li {
    position: relative;
    }

    /* nie widać drop shadow */
.label {
    position: absolute;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 27px 90px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white);
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    white-space: nowrap;
    }

/* Sekcja 3 - Team */

.team {
    background-color: #F5F4FA;
    text-align: center;
    }

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    }

img {
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
    }

.job-title {
    font-size: 16px;
    line-height: 1.17;
    color: var(--beige);
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    }

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--main-color);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    }

.team-list > li {
    background-color: var(--white);
    width: 270px;
    height: 428px;
    }

.team-list > li:not(:last-child) {
    margin-right: 30px;
    }

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.team-list img {
    margin-bottom: 30px;
    }

.team-card {
    padding: 0;
    border-radius: 0 0 4px 4px;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);
    }

.member-social {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    }
    
.social-link:hover svg,
.social-link:focus svg {
    fill: var(--white);
    background-color: var(--active-color);
    }

.member-social-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    fill: #AFB1B8;
    cursor: pointer;
    }

/* Sekcja 4 - Clients */

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    }

.client-list {
    display: flex;
    flex-direction: row;
	gap: 30px;
    }

.client-link:hover svg,
.client-link:focus svg {
    fill: var(--active-color);
    border-color: var(--active-color);
    }

.client-logo {
    width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;
    cursor: pointer;
    }

.one {padding: 
    17.71px 32px 14.25px 32px;
    }

.two {
    padding: 16px 32px;
    }

/* Footer */

footer {
    background-color: #2F303A;
    width: 100%;
    }

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    }

.footer-inf {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
    display: flex;
    }

.logo-down .logo-down-link {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    }

.logo-down {
    margin-bottom: 20px;
    }

footer .contacts {
    flex-direction: column;
    }

footer .contacts>li:not(:last-child) {
    margin-bottom: 9px;
    }
    
.place {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white); 
    font-style: normal;
    letter-spacing: 0.03em;
    }

.contacts .link {
    text-decoration: none;
    color: #FFFFFF99;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    }

.contacts .link:hover,
.contacts .link:focus {
    color: var(--active-color);
    }

.contacts .link:active {
    color:var(--active-color);
    }

.footer-social {
    width: 206px;
    margin-top: 72px;
    }

.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
    }

.footer-social-list {
    display: flex;
    }

.footer-social-list > li:not(:last-child) {
    margin-right: 10px;
    }

.social-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: block;
    }

.footer-social-link:hover svg,
.footer-social-link:focus svg {
    background-color: var(--active-color);
    }

/* Portofolio - Filters */

.portfolio {
    text-align: center;
    display: flex;
    }

.filters {
    display: flex;
    justify-content: center;
    width: 100%;
    }

.filters .filters-menu {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 34px;
    }

.filters-menu > li:not(:last-child) {
    margin-right: 8px;
    }

.button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border-style: hidden;
    padding: 6px 24px;
    }

.button-filter:hover,
.button-filter:focus {
    color: var(--white);
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

.button-filter:active {
    color: var(--white);
    background-color: var(--active-color);
    }

/* Portfolio list  */

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    }

.type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--beige);
    letter-spacing: 0.03em;
    }

    /*  właściwość hidden nie działa*/
.card-description {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-top: 0px;
    }

.list {
    margin-left: auto;
    margin-right: auto;
    }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    align-content: center;
    }

.card:hover,
.card:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    }
    
.card {
    padding: 0;
    text-align: left;
    width: 370px;
    }

.card:hover .overlay {
    transform: translateY(0);
    }

.card-all {
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    background-color: var(--active-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    display: flex;
    }

.overlay > p {
    color: var(--white);
    padding: 49px 45px 49px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    }


/* BACKDROP */

.backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    }

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    /* jaki kursor tutaj? */
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    }

    /* jak wycentrować X w kółku? */
.icon-close {  
    }

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }