body {font-family: "Roboto", "Raleway", sans-serif;
color: var(--main-color);
background-color: var(--white);
}

:root {--active-color: #2196F3;
--white: #FFFFFF;
--beige: #757575;
--main-color: #212121;
}

.logo .logo-link {font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 26px
line-height: 1.17;
letter-spacing: 3%;
color: var(--main-color);
text-decoration: none;
}

.web-logo {color: var(--active-color);
}

.menu-link-current {color: var(--active-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 2%;
}

.menu .menu-link {font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 2%; 
color: var(--main-color);
}

.menu-link {text-decoration: none;}

.menu-link:hover,
.menu-link:focus {color: var(--active-color);}

.menu-link:active {color: var(--active-color);}

.menu-link-current:hover,
.menu-link-current:focus {color: var(--active-color);}

.menu-link-current:active {color: var(--active-color);}


ul {list-style-type: none;}

.contact .contact-link {font-weight: 500;
font-size: 14px;
line-height: 1.17;
text-align: right;
letter-spacing: 2%;
text-decoration: none;
}

.contact-link {color: var(--beige);}

.contact-link:hover,
.contact-link:focus {color: var(--active-color);}

.contact-link:active {color: var(--active-color);}

.text {background-color: #2F303A;
text-align: center;
letter-spacing: 6%;
}

.text-title {font-weight: 900;
color: var(--white);
font-size: 44px;
line-height: 1.36;
}

.button-active {font-weight: 700;
color: var(--white);
font-size: 16px;
line-height: 1.88;
background-color:var(--active-color);
}

.asset-title {font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 3%;
}

.asset-description {
color: var(--beige);
font-size: 14px;
line-height: 1.71;
letter-spacing: 3%;
}       

.scope {text-align: center;}

.scope-title {font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 3%;
}

.team {background-color: #F5F4FA;
text-align: center
}

.team-title {font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 3%;
}

.job-title {font-size: 16px;
line-height: 1.17;
color: var(--beige);
letter-spacing: 3%;
}

.name {font-weight: 500;
font-size: 16px;
line-height: 1.17;
color: var(--main-color);
letter-spacing: 3%; 
}

.team-list > li {
background-color: var(--white);
}

.down {background-color: #2F303A;}

.logo-down .logo-down-link {font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 26px
line-height: 1.17;
letter-spacing: 3%;
color: var(--white);
text-decoration: none;
}
    
.place {font-size: 14px;
line-height: 1.71;
color: var(--white); 
font-style: normal;
letter-spacing: 3%;
}

.contacts .link {text-decoration: none;
color: #FFFFFF99;
font-size: 14px;
line-height: 1.71; 
letter-spacing: 3%;
}

.contacts .link:hover,
.contacts .link:focus {color: var(--active-color);}

.contacts .link:active {color:var(--active-color);}

.portfolio {text-align: center;}

.button-filter {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 3%;
cursor: pointer;
}

.button-filter:hover {color: var(--active-color);}
.button-filter:focus {color: var(--white);}

.button-filter:active {color: var(--active-color);}

.title {font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 6%;
}

.type {font-size: 16px;
line-height: 1.88;
color: var(--beige);
letter-spacing: 3%;
}