body {
color: #212121;
background-color: #E5E5E5; }

.logo {font-family: Raleway;
    font-weight: 700;
    font-size: 26px
    line-height: 1,17;
    color: #FFFFFF;  
}

.web-logo {color: 
    #2196F3; }

.logo-link {text-decoration: none;}

.menu {font-weight: 500;
    font-size: 14px;
    line-height: 1,17;}

.menu-link {text-decoration: none;}
.menu-link:hover,
.menu-link:focus {color: 
    #2196F3; }

/* jaki tu kolor? */
.menu-link:active {color:
        #2196F3;}

ul {list-style-type: none;}

.contact {font-weight: 500;
font-size: 14px;
line-height: 1,17;
text-align: right;}

.contact-link {text-decoration: none;
color: #757575;}
.contact-link:hover,
.contact-link:focus {color: #2196F3;}

    /* jaki tu kolor? */
.contact-link:active {color:#2196F3;}

.text {background-color: #2F303A;
text-align: center; }

.text-title {font-weight: 900;
color: #FFFFFF;
font-size: 44px;
line-height: 1,36;
}

.button-active {font-weight: 700;
color: #FFFFFF;
font-size: 16px;
line-height: 1,88;
background-color:#2196F3;
}

.asset-list {font-weight: 700;
    font-size: 14px;
    line-height: 1,17;
}

.asset-description {font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 1,71;}

.scope-title {font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;}

.scope-list {text-align: center;}

/* czy do wszystkich h2 ustawić poniższe ustawienia? */
.team-title {font-weight: 700;
font-size: 36px;
line-height: 1,17;
text-align: center;
}

.job-title {font-weight: 400;
font-size: 16px;
line-height: 1,17;
color: #757575; 
 }

.name {font-weight: 500;
font-size: 16px;
line-height: 1,17;
color: #212121; }

.team-list > li {text-align: center;}

.down {background-color: #2F303A;}

.place {
font-size: 14px;
line-height: 1,71;
color: #FFFFFF; 
font-style: normal;}

.contacts .link {text-decoration: none;
    color: #FFFFFF99;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71; }

.contacts .link:hover,
.contacts .link:focus {color: #2196F3;}

.contacts .link:active {color:#2196F3;}

.filter-link {font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    text-decoration: none; 
}

.filter-link:hover {color: #2196F3;}
.filter-link:focus {color: #FFFFFF;}

.button-filter:active {color: #2196F3;}

.filters-menu > li {text-align: center; }

.title {font-weight: 700;
font-size: 18px;
line-height: 2;
color: #212121;
}

.type {font-size: 16px;
line-height: 1,88;
color: #757575;}