*,
*::before,
*::after {
  box-sizing: border-box;
}

body {font-family: "Roboto", "Raleway", sans-serif;
color: var(--main-color);
background-color: var(--white);
}

:root {--active-color: #2196F3;
--white: #FFFFFF;
--beige: #757575;
--main-color: #212121;
}

.top {border-bottom: 1px solid #ECECEC;}

header .container {width: 1200px;
margin: 0 auto;
display: flex;
align-items: center; 
justify-content: space-between;
height: 80px;
}

nav {display: flex;}

.menu ul {display: flex;
align-items: center;
}

/* czy musi tu być width i margin-right? Co z margin-left?*/
.logo .logo-link {font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 26px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--main-color);
text-decoration: none;
width: 145px;
margin-right: 93px;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
}

.web-logo {color: var(--active-color);
}

.menu-link-current {color: var(--active-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em;
}

.menu .menu-link {font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em; 
color: var(--main-color);
}

.menu-link {text-decoration: none;}

.menu-link:hover,
.menu-link:focus {color: var(--active-color);}

.menu-link:active {color: var(--active-color);}

.menu-link-current:hover,
.menu-link-current:focus {color: var(--active-color);}

.menu-link-current:active {color: var(--active-color);}


ul {list-style-type: none;}

.menu .menu-list > li:not(:last-child)
{margin-right: 46px;}

.contact {display: flex;}

.contact .contact-link {font-weight: 500;
font-size: 14px;
line-height: 1.17;
text-align: right;
letter-spacing: 0.02em;
text-decoration: none;
align-items: center;
}

/* czy przy nr telefonu trzeba dać margin-right? */
.contact p:not(:last-child) {margin-right: 50px;}

.contact-link {color: var(--beige);}

.contact-link:hover,
.contact-link:focus {color: var(--active-color);}

.contact-link:active {color: var(--active-color);}

section .container {width: 1200px;
margin: 0 auto;
}

/* jaki display tutaj? 
dodano wcześniej taki: 
display: flex;
flex-direction: column;*/
.text {background-color: #2F303A;
text-align: center;
letter-spacing: 0.06em;
}

.section {padding-top: 94px;
padding-bottom: 94px;
}

.text .container {flex-direction: column;
padding-top: 200px;
padding-bottom: 200px;
}

/* dodane height: 120px;
*/
.text-title {font-weight: 900;
color: var(--white);
font-size: 44px;
line-height: 1.36;
justify-content: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
width: 696px;
}

.button-active {font-family: "Roboto", sans-serif;
font-weight: 700;
color: var(--white);
font-size: 16px;
line-height: 1.88;
align-items: center;
background-color:var(--active-color);
padding: 10px 41px 10px 42px;
width: 200px;
height: 50px;
border-radius: 4px;
border-style: hidden;
margin-left: auto;
margin-right: auto;

cursor: pointer;
display: block;
}

/* margin-left: auto;
margin-right: auto;

DLACZEGO POKAZUJE WIDTH 964,800 A NIE 1170???*/
.asset-list {display: flex;
flex-wrap: wrap;
column-gap: 30px;
padding: 0;
width: 1170px;
max-height: 101px;
flex-direction: row;
justify-content: center;
align-content: center;
margin-left: auto;
margin-right: auto;
}

.asset-element {flex-basis: calc((100% - 90px) / 4);
}

/*  czy to jest tutaj potrzebne?
 .asset-list > li {width: 270px;) */


.asset-title {font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 10px;
}

.asset-description {
color: var(--beige);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
width: 270px;
}       

.scope {text-align: center;
width: 1170px;
margin-left: auto;
margin-right: auto;
}

.no-padding {padding-top: 0px;}

.scope-title {font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.scope-list {display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
padding: 0;}

.team {background-color: #F5F4FA;
text-align: center;
width: 1170;
}

/*display: flex; ??*/

.team-title {font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
justify content: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
text-align: center;
}

img {
display: block;
max-width: 100%;
padding: 0;
margin: 0;
}

.job-title {font-size: 16px;
line-height: 1.17;
color: var(--beige);
letter-spacing: 0.03em;
margin-bottom: 30px;
}

.name {font-weight: 500;
font-size: 16px;
line-height: 1.17;
color: var(--main-color);
letter-spacing: 0.03em;
margin-bottom: 10px;
}

.team-list > li {
background-color: var(--white);
width: 270px;
height: 368px;
}

.team-list > li:not(:last-child) {margin-right: 30px;}

.team-list {display: flex;
flex-direction: wrap;
justify-content: center;
}

.team-list img {margin-bottom: 30px;
}

/* co z box-shadow? czy już to musimy robić? */
.team-card {padding: 0;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
width: 270px;
height: 368px;}

footer .container {flex-direction: column;
align-items: baseline;}

footer {background-color: #2F303A;
padding-top: 60px;
padding-bottom: 60px;}

.logo-down .logo-down-link {font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 26px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--white);
text-decoration: none;
}

.logo-down {
padding-left: 215px;
margin-bottom: 20px;}

footer .contacts {flex-direction: column;
}

footer .contact>li:not(:last-child) {margin-bottom: 9px;}
    
.place {font-size: 14px;
line-height: 1.71;
color: var(--white); 
font-style: normal;
letter-spacing: 0.03em;
}

.contacts {padding-left: 215px;}

.contacts .link {text-decoration: none;
color: #FFFFFF99;
font-size: 14px;
line-height: 1.71; 
letter-spacing: 0.03em;
}

.contacts .link:hover,
.contacts .link:focus {color: var(--active-color);}

.contacts .link:active {color:var(--active-color);}

.portfolio {text-align: center;
display: flex;}

/* czy potrzebny tu justify content? */
.filters .filters-menu {display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 34px;
}

.filters-menu > li:not(:last-child) {margin-right: 8px;}

.button-filter {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
border-style: hidden;
width: 121px;
height: 38px;
}

.button-filter:hover {color: var(--white);
background-color: var(--active-color);}
.button-filter:focus {color: var(--white);}

.button-filter:active {color: var(--white);
background-color: var(--active-color);}

.title {font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-top: 20px;
margin-bottom: 4px;
padding-left: 24px;
padding-right: 24px;
}

.type {font-size: 16px;
line-height: 1.88;
color: var(--beige);
letter-spacing: 0.03em;
margin-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
}

.list {margin-left: auto;
margin-right: auto;}

.portfolio-list {display: flex;
flex-wrap: wrap;
gap: 30px;
padding: 0;
align-content: center;}


/* czy tutaj musi być padding 0? 
jak zrobić żeby zdjęcia wypełniały całość?*/
.card {
  /* flex-basis: calc((100% - 60px) / 3); 
  przy tej komendzie zdjęcia nie wypełniają całości - prawy margines*/
padding: 0;
border: 1px solid #EEEEEE;
text-align: left;
width: 370px;
height: 404px;}