body {
color: #212121; }

.logo {font-family: Raleway;
    font-weight: 700;
    font-size: 26px
    line-height: 1,17; 
}

.web-logo {color: 
    #2196F3; }

.logo-link {text-decoration: none;}

.menu {font-weight: 500;
    font-size: 14px;
    line-height: 1,17;}

.menu-link {text-decoration: none;
}
.menu-link:hover,
.menu-link:focus {color: 
    #2196F3; }

    /* jaki tu kolor? */
    .menu-link:active {color:
        #2196F3;}

ul {list-style-type: none;}