
@import './utils/variables';

@import './components/_commons.scss';


/*Header*/
@import './components/_header.scss';
@import './components/nav.scss';
@import './components/logo.scss';
@import './components/contacts.scss';

/*Main text section*/
@import './components/_text.scss';

/*Modal*/
@import './components/_modal.scss';
@import './components/_order-form.scss';

/*Asset section*/
@import './components/_asset.scss';

/*Scope section*/
@import './components/_scope.scss';

/*Team section*/
@import './components/_team.scss';
@import './components/_team-card.scss';
@import './components/_member-social.scss';

/*Clients section*/
@import './components/_clients.scss';

/*Footer*/
@import './components/_footer.scss';
@import './components/_address.scss';
@import './components/_footer-social.scss';
@import './components/_subscription.scss';

/*Portfolio*/
@import './components/_portfolio.scss';