/*Colors*/
/*Border*/
/*Box-shadows*/
/*Animation*/
/*Spacing*/
/*Font-sizes*/
/*Font-parameters*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #FFFFFF;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1, h2, h3, h4, p, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 500ms, 500ms;
          transition-duration: 500ms, 500ms;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
          transition-timing-function: ease-in-out, ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav__list > li:not(:last-child) {
  margin-right: 46px;
}
.nav .nav__list .active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  display: block;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.nav__menu-link, .nav__menu-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__menu-link:hover, .nav__menu-link-current:hover, .nav__menu-link:focus, .nav__menu-link-current:focus {
  color: #2196F3;
}
.nav__menu-link:active, .nav__menu-link-current:active {
  color: #2196F3;
}
.nav__menu-link-current {
  position: relative;
}

.logo, .logo__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__header {
  color: #212121;
  margin-right: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo--blue {
  color: #2196F3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact p:not(:last-child) {
  margin-right: 50px;
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-align: right;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}
.contact__link:active {
  color: #2196F3;
}
.contact__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.text {
  background-color: #2F303A;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/back-photo.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../../images/back-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.text__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}
.text__title {
  font-weight: 900;
  color: #FFFFFF;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  height: 120px;
}
.text__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2196F3;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  border-style: hidden;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  border-color: #2196F3;
  color: #2196F3;
}
.modal__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
  position: absolute;
  top: 5px;
  left: 5px;
}/*# sourceMappingURL=main.css.map */