.address { 
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    // margin-right: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
   

    &__list {
        flex-direction: column;
       

        & > li:not(:last-child) {
            // margin-bottom: 9px;
            margin-bottom: 8px;
            }
        }

    &__place {
        font-size: $main-font-size;
        line-height: $big-line-height;
        color: $modal-bg-color; 
        font-style: normal;
        letter-spacing: $main-letter-spacing;
        font-weight: 400;
        }

    &__link {
        text-decoration: none;
        color: $footer-contact-color;
        font-size: $main-font-size;
        line-height: $big-line-height; 
        letter-spacing: $main-letter-spacing;
        transition: color $main-animation;

        &:hover,
        &:focus {
            color: $active-color;
            }

        &:active {
            color: $active-color;
            }
        }
}