.asset {
    padding-top: $mobile-section-padding;
    padding-bottom: 0;
    // padding-bottom: $section-padding-bottom;

    @media screen and (min-width: 1200px) {
        & {
            padding-top: $section-padding-top;
            padding-bottom: $section-padding-bottom;
            }
        }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        padding: 0;
        width: 1170px;
        flex-direction: row;
        justify-content: center;
        align-content: center;  

        & > li {
            justify-content: center;
            align-content: center;
            }
        }

    &__element {
        flex-basis: calc((100% - 90px) / 4);

        &:not(:last-child) {
            padding-bottom: 30px;
            }
        }

    // @media screen and (min-width: 768px) {
    //     &__element {
    //         flex-basis: calc(100% / 2);
    //     }
    // }

    &__logo {
        width: 450px;
        height: 120px;
        background-color: $team-bg-color;
        margin-bottom: 30px;
        border-radius: 4px;
        padding: 25px 190px;

        @media screen and (min-width: 768px) {
            & {
                width: 354px;
                padding: 25px 142px;
                }
            }

        @media screen and (min-width: 1200px) {
            & {
                width: 270px;
                padding: 25px 100px;
                }
            }  
    } 

    &__title {
        font-weight: 700;
        font-size: $main-font-size;
        line-height: $main-line-height;
        letter-spacing: $main-letter-spacing;
        margin-bottom: 10px;
        text-align: center;
        }
    
    @media screen and (min-width: 768px) {
        &__title {
            text-align: left;
            }
        }
    
    &__description {
        color: $header-contact-color;
        font-size: $main-font-size;
        line-height: $big-line-height;
        letter-spacing: $main-letter-spacing;
        width: 450px;

        @media screen and (min-width: 768px) {
            & {
                width: 354px;
                }
            }

        @media screen and (min-width: 1200px) {
            &  {
                width: 270px;
                }
            }
        }
}