.clients {

    &__container {
    //     padding-top: $section-padding-top;
    //     padding-bottom: $section-padding-bottom;
        width: 450px;
        padding: 0;
        }

        @media screen and (min-width: 768px) {
            & {
                width: 738px;
            }
        }
    
    &__title {
        font-weight: 700;
        // font-size: $second-header-font-size;
        font-size: 28px;
        line-height: $main-line-height;
        letter-spacing: $main-letter-spacing;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        margin-bottom: 30px;
        }

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
	    gap: 30px;

        & > li {
            width: 210px;
            height: 92px;

            &:nth-child(2n + 1) {
                // padding-right: 30px;
                padding-left: 0px;
            }

            &:nth-child(2n) {
                // padding-left: 30px;
                padding-right: 0px;
            }
           
            // &:not(:last-child) {
            //     padding-bottom: 30px;
            //     }
            @media screen and (min-width: 768px) {
                &__list > li {
                    width: 738px;
                    flex-basis: calc(100% / 3);
                }
            }
            
            }
        }

    &__link svg {
        transition: fill $main-animation,
        border-color $main-animation;
        // width: 170px;
        // height: 92px;
        border: 1px solid $border-client-color;
        border-radius: 4px;
        fill: $border-client-color;
        cursor: pointer;
        width: 210px;
        height: 92px;

        @media screen and (min-width: 768px) {
            &__link svg {
                width: 226px;
            }
        }
        
        }

    &__link:hover svg,
    &__link:focus svg {
        fill: $active-color;
        border-color: $active-color;
        }

    &__logo {
        padding: 16px 52px;
        
        // &--one {
        //     padding: 
        //     17.71px 32px 14.25px 32px;
        //     }

        // &--two {
        //     padding: 16px 32px;
        //     }
        }
}