*,
*::before,
*::after {
    box-sizing: border-box;
    }

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: $primary-color;
    background-color: $main-bg-color;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    }

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    }

h1, h2, h3, h4, p, ul {
    padding: 0; 
    margin: 0;
    }

ul {
    list-style-type: none;
    }

.section {
    $section-padding-top: 94px;
    $section-padding-bottom: 94px;
    }

.backdrop {
    background-color: $backdrop-bg-color;
    border: $main-border-style;
    box-shadow: $main-shadow;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition-property: opacity, visibility;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-in-out, ease-in-out;
    }
    
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }

.hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    }

img {
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
    }

.join {
    font-weight: 700;
    font-size: $main-font-size;
    line-height: $main-line-height;
    letter-spacing: $main-letter-spacing;
    color: $main-bg-color;
    text-transform: uppercase;
    margin-bottom: 20px;
    }

.btn-sign {
    width: 200px;
    height: 50px;
    background-color: $active-color;
    border-radius: 4px;
    box-shadow: $main-shadow;
    border-style: hidden;
    cursor: pointer;
    font-weight: 700;
    font-size: $title-font-size;
    line-height: 1.86;
    letter-spacing: $big-letter-spacing;
    text-align: center;
    color: $main-bg-color;
    white-space: nowrap;
    margin-left: 12px;
    position: relative;

    & span {
        margin-right: 24px;
        }
    }

.list {
    margin-left: auto;
    margin-right: auto;
    } 