.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        & {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: auto;
            margin-top: 21px;
            margin-bottom: 21px;
            }
        }

    @media screen and (min-width: 1200px) {
        & {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin-top: 32px;
            margin-bottom: 32px;
            width: 360px;
            }
        }
    
    &__link {
        font-weight: 500;
        font-size: 12px;
        line-height: $main-line-height;
        text-align: right;
        letter-spacing: $small-letter-spacing;
        text-decoration: none;
        align-items: center;
        display: flex;
        color: $header-contact-color;
        transition: $main-animation;
    
        &:hover,
        &:focus {
            color: $active-color;
            }
    
        &:active {
            color: $active-color;
            }

        @media screen and (min-width: 1200px) {
            & {
                font-size: $main-font-size;
                }
            }
        }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        fill: currentColor;

        &--tel {
            @extend .contact__icon;
            padding-left: 0;
            }
        }

    display: none;
}

// jak wyrównać ikony przy 768px?

