.contact {
    display: flex;

    // @media screen and (min-width: 768px) {
    //     .contact {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     }
    // }

    // @media screen and (min-width: 1200px) {
    //     .contact {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     gap: 50px;
    //     }
    // }

    & p:not(:last-child) {
        margin-right: 50px;
        }
    
    &__link {font-weight: 500;
        font-size: $main-font-size;
        line-height: $main-line-height;
        text-align: right;
        letter-spacing: $small-letter-spacing;
        text-decoration: none;
        align-items: center;
        display: flex;
        color: $header-contact-color;
        transition: $main-animation;
    
        &:hover,
        &:focus {
            color: $active-color;
            }
    
        &:active {
            color: $active-color;
            }
        }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
        }
}