.footer-social {
    width: 206px;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;

    &__list {
        display: flex;

        & > li:not(:last-child) {
            margin-right: 10px;
            }
        }

    &__link svg {
        transition: background-color $main-animation;
        }

    &__link:hover svg,
    &__link:focus svg {
        background-color: $active-color;
        }

    &__icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $main-bg-color;
        background-color: $footer-icon-bg-color;
        cursor: pointer;
        display: block;
        }
}