.header {
    border-bottom: 1px solid $border-header-color;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        & {
            height: 80px;
            }
        }

    &__container {
    align-items: center; 
    justify-content: space-between;
    height: 100%;

    @media screen and (min-width: 1200px) {
        & {
            width: 100%;
            justify-content: space-between;
            }
        }
        }
}

// ustawić przy 1200px kontakty dp prawej