.header {
    border-bottom: 1px solid $border-header-color;
    width: 480px;
    height: 60px;

    &__container {
    align-items: center; 
    justify-content: space-between;
    // height: 80px;
    }
}
