.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 24px;
    line-height: $main-line-height;
    letter-spacing: $main-letter-spacing;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
        & {
            font-size: $logo-font-size;
            }
        }

    &__header {
        @extend .logo;
        color: $primary-color;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;

        @media screen and (min-width: 768px) {
            & {
                margin-right: 83px;
                padding-left: 15px;
                padding-top: 26px;
                padding-bottom: 26px;
                }
            }
        }

        @media screen and (min-width: 1200px) {
            & {
                margin-right: 93px;
                // margin-left: 215px;
                }
            }

    &--blue {
        color: $active-color;
        }
}
