.menu-toggle { 
    background-color: $main-bg-color;
    border: none;
    cursor: pointer;
    // position: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;

    &:hover,
    &:focus {
        fill: $active-color;
        }
    }
          
@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
        }
    }

.mobile-icon {
    // position: fixed;
    position: absolute;
    width: 18.67px;
    height: 18.67px;
    top: 22px;
    right: 23px;

    &:hover,
    &:focus {
        fill: $active-color;
        }
    }

.menu-container {
    background-color: $main-bg-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 48px 40px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    }

@media screen and (min-width: 768px) {
    .menu-container {
        display: none;
        }
    }

.menu-container.is-open {
    transform: translateX(0);
    }

.mobile-menu {
    font-weight: 500;
    font-size: 40px;
    line-height: $main-line-height;
    letter-spacing: $small-letter-spacing;
    color: $primary-color;      

    &__link {
        text-decoration: none;
        color: $primary-color;

        &--current {
            @extend .mobile-menu__link;
            color: $active-color;
            }
        }

    &__name {

        &:not(:last-child) {
            margin-bottom: 32px;
            }

        &:last-child {
            margin-bottom: 302px;
            }
        }
}

.mobile-contact {

    &__link--active {
        font-weight: 500;
        font-size: 34px;
        line-height: $main-line-height;
        letter-spacing: $small-letter-spacing;
        padding-bottom: 32px;
        color: $active-color;
        text-decoration: none;
        // height: 40px;
        }

    &__link {
        font-weight: 500;
        font-size: 24px;
        line-height: $main-line-height;
        letter-spacing: $small-letter-spacing;
        text-decoration: none;
        color: $modal-label-color;
        padding-bottom: 64px;
        }
}

.mobile-pages {
    display: flex;

    & > li:not(:last-child) {
        margin-right: 20px;
        }

    &__link {
        color: $active-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: $small-letter-spacing;
    }
}