// <div class="backdrop is-hidden" data-modal>
// <div class="modal">
//     <button type="button" class="modal__button" data-modal-close>
//         <svg class="modal__icon">
//             <use
//             href="./images/icons.svg#icon-close-black-18dp-2-1"
//             width="18"
//             height="18"
//             >
//             </use>
//         </svg>
//     </button> 

.backdrop {
    background-color: $backdrop-bg-color;
    border: 1px solid $primary-border-color;
    box-shadow: $main-shadow;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition-property: opacity, visibility;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-in-out, ease-in-out;
    }

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
