.nav {
    display: flex;
    align-items: center;

    &__list > li:not(:last-child) {
        margin-right: 46px;
        }

    &__list .active::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $active-color;
        border-radius: 2px;
        display: block;
        }

    & ul {
        display: flex;
        align-items: center;
        position: relative;
        }

    &__menu-link {
        font-weight: 500;
        font-size: $main-font-size;
        line-height: $main-line-height;
        letter-spacing: $small-letter-spacing;
        color: $primary-color;
        padding-top: 32px;
        padding-bottom: 32px;
        text-decoration: none;
        transition: $main-animation;
    
        &:hover,
        &:focus {
            color: $active-color;
            }
    
        &:active {
            color: $active-color;
            }

        &-current {
            @extend .nav__menu-link;
            position: relative;
            color: $active-color;
            }
        }
}
