.portfolio {
    text-align: center;
    display: flex;
    width: 100%;

    &__container {
        // padding-top:$mobile-section-padding;
        // padding-bottom: $mobile-section-padding;
        width: 480px;

        @media screen and (min-width: 768px) {
            & {
                width: 768px;
                }
            }
        }   
            

    &__filters {
        display: flex;
        justify-content: center;
        width: 100%;
        }

    &__filters-menu {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: flex-start;
        & > li:not(:last-child) {
            margin-right: 8px;
            }

        & > li:nth-child(-n + 3) {
            margin-bottom: 15px;
            }
        
        // & > li:nth-child(3n + 1) {
        //     width: 103px;
        //     }

        // & > li:nth-child(3n + 2) {
        //     width: 128px;
        // }
        @media screen and (min-width: 768px) {
            & {
                margin-bottom: 30px;
                }
            }
        }

    &__button {
        font-weight: 500;
        font-size: $title-font-size;
        line-height: 1.63;
        letter-spacing: $main-letter-spacing;
        cursor: pointer;
        border-radius: 4px;
        border-style: hidden;
        padding: 6px 24px;
        transition: color $main-animation,
        background-color $main-animation,
        box-shadow $main-animation;

        &:hover,
        &:focus {
            color: $main-bg-color;
            background-color: $active-color;
            box-shadow: $main-shadow;
            }

        &:active {
            color: $main-bg-color;
            background-color: $active-color;
            }
        }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        align-content: center;
        }

    &__item {
        padding: 0;
        text-align: left;
        // width: 370px;
        width: 450px;
        // height: 404px;
        transition: box-shadow $main-animation;

        &:hover,
        &:focus {
            box-shadow: $portfolio-card-shadow;
            cursor: pointer;
            }

        &:hover .portfolio__overlay {
            transform: translateY(0%);
            }
        
        @media screen and (min-width: 768px) {
            & {
                width: 354px;
                height: 440px;
                }
            }
        }

    &__card-all {
        position: relative;
        overflow: hidden;
        transition: box-shadow $main-animation;
        
        @media screen and (min-width: 768px) {
            & {
                height: 294px;
                }
            }
        }

// usunąć niebieski pasek i zwiększyć zdjęcie

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $active-color;
        transform: translateY(100%);
        transition: transform $main-animation;
        align-items: center;
        display: flex;

        & > p {
            color: $main-bg-color;
            padding: 49px 45px 49px 24px;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: $main-letter-spacing;
            }
        }

    &__card-description {
        padding: 20px 24px;
        border-left: 1px solid $border-card-color;
        border-right: 1px solid $border-card-color;
        border-bottom: 1px solid $border-card-color;
        border-top: 0px;
        }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: $big-letter-spacing;
        margin-bottom: 4px;
        }

    &__type {
        font-size: $title-font-size;
        line-height: 1.88;
        color: $header-contact-color;
        letter-spacing: $main-letter-spacing;
        }
}