.subscription {
    // margin-left: 78px;
    // width: 570px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__section {
        display: flex;
        flex-direction: column;
        }

    &__input {
        // width: 358px;
        width: 450px;
        height: 50px;
        background-color: $footer-bg-color;
        border-radius: 4px;
        border: 1px solid $footer-input-border-color;
        box-shadow: $input-shadow;
        transition: border $main-animation;
        outline: none;
        color: $main-bg-color;
        padding-left: 16px;
        margin-bottom: 20px;

        &::placeholder {
            font-size: $title-font-size;
            line-height: 1.25;
            letter-spacing: $main-letter-spacing;
            color: $footer-input-placeholder-color;
            padding-top: 15px;
            padding-bottom: 15px;
            }

        &:hover,
        &:active {
            border: $active-border-style;
            }

        &:focus-within {
            border: $active-border-style;
            }
        }

    &__icon {
        fill: $main-bg-color;
        width: 24px;
        height: 24px;
        position: absolute;
        margin-top: 5px;
        }
}