.team {
    background-color: $team-bg-color;
    text-align: center;

    &__container {
        padding-top: 94px;
        padding-bottom: 94px;
        }

    &__title {
        font-weight: 700;
        font-size: $second-header-font-size;
        line-height: $main-line-height;
        letter-spacing: $main-letter-spacing;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        text-align: center;
        }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > li {
            background-color: $main-bg-color;
            width: 270px;
            height: 428px;
            }
        
        & > li:not(:last-child) {
            margin-right: 30px;
            }

        & img {
            margin-bottom: 30px;
            }
    }  
}