.team-card {
    padding: 0;
    border-radius: 0 0 4px 4px;
    // width: 270px;
    width: 450px;
    // height: 428px;
    height: 622px;
    box-shadow: $team-shadow;

    &__name { 
        font-weight: 500;
        font-size: $title-font-size;
        line-height: $main-line-height;
        color: $primary-color;
        letter-spacing: $main-letter-spacing;
        margin-bottom: 10px;
        }

    &__job-title {
        font-size: $title-font-size;
        line-height: $main-line-height;
        color: $header-contact-color;
        letter-spacing: $main-letter-spacing;
        margin-bottom: 16px;
        }
}